*{
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}
li{
    list-style: none;
}
a{
    text-decoration: none;
}
body{
    background-image: url('/images/bg-body.png');
    padding: 5px;
}

/*  header */
header {
    text-align: center;
    margin-bottom: 30px;
}
header img {
    display: block;
    border-radius: 50%;
    border : 1px solid #bbbfbe;
    margin: 15px auto 30px;
    width: 180px;
}

header a.burger{
    display: inline-block;
    width: 35px;
    background-color: gray;
    color: white;
    padding: 8px;
    border-radius: 4px;
    margin-bottom: 30px;
}

header nav ul li{
    width: 100%;
    background-color: #63645d;
    margin: 2px;
}
header nav ul li a{
    display: inline-block;
    color: white;
    text-transform: uppercase;
    font-family: sans-serif;
    padding: 10px;
}

/* main /*/

.banner{
    display: none;
}
article{
    width: 100%;
}
article .image-container{
    position: relative;
}

article img.photo{
    width: 100%;
}

article .image-container img.label{
    position: absolute;
    top: 0;
    right: 10px;
}
article .image-container a.zoom{
    width: 100%;
    display: block;
    position: absolute;
    top: 50%;
    color: white;
    right: 0;
    text-transform: uppercase;
    font-weight: 600;
    text-align: center;
    background-color: rgba(0,0,0,0.3);
    padding: 8px;
}

article h4{
    margin: 20px 0;
}

article a.more{
    display: inline-block;
    padding: 10px;
    margin: 20px 0;
    background-color: #63645d;
    color : white;
    font-weight: 600;
    text-transform: uppercase;
}

/* footer */
footer{
    text-align: center;
}
footer nav ul li{
    width: 100%;
    background-color: #63645d;
    margin: 2px;
}
footer nav ul li a{
    display: inline-block;
    color: white;
    text-transform: uppercase;
    font-family: sans-serif;
    padding: 10px;
}